.home-featured-projects-head{
  margin: 0 auto 0 var(--gap-lg);
  padding: var(--gap-lg) 0 var(--gap-md) 0;

}

#home-featured-projects-heading{
  font-size: calc(1.375rem + 1.2vw);
  font-weight: 700;
  background: var(--gradient-brand-diagonal);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 1rem;
}

.home-featured-projects-heading-tagline{
  font-size: calc(1.0rem + 0.3vw);
  font-weight: 500;
  color: var(--color-text-soft);
}
